<html> 
    <head> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="../static/css/index.css">
        
    <!------ Include the above in your HEAD tag ---------->
    </head>  
    <body >
        <div class="container1">
     
            {% if login == 0  %}<button onclick="window.location.href='/login'"/> Login</button>{% endif %}
			{% if login == 0  %}<button onclick="window.location.href='/signup'"> Sign Up</button>{% endif %}
            {% if login == 1  %}<button onclick="window.location.href='/portfolio'" > Portfolio</button>{% endif %}
            {% if login == 1  %} <button onclick="window.location.href='/logout'"/> Logout</button>{% endif %}
            <h2>Portfolio {% if login == 1  %}${{cash}}  {% endif %} </h2>
           
        </div>

        <form> 
            <input type="text" placeholder="Ticker"  name='ticker' />
            <br>
            <input type="text" placeholder="Quantity"  name='quantity' />
        </form>
        
        <div class="section" >
                <div >
                    <!-- Python code Goes here -->
                    {% for stock in stocks %}
                        
                        <div class="card"  {% if stock['color'] == -1  %} style="background-color: #ff948e" {% else %}  style="background-color: #b8ffa8"{% endif %} >
                            <strong>{{stock['symbol']}}</strong>
                            <p>Previous: ${{stock['previous']}} </p>
                            <p>Current: ${{stock['price']}}  </p>
                        </div>


                    {% endfor %}
                    <!--  -->
                </div>
      </div>
       



        
    </body>
    <style>
        form{
            margin-left: 700px;
        }
    </style>
</html>
